<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link type="text/css" href="{{ url_for('static', filename='css/index.css')}}" rel="stylesheet"/>
    <html>

    <head>
        <title>
            Simple web Development Template
        </title>
    </head>

<body>
<nav class="navbar background">
    <ul class="nav-list">
        <div class="logo">
            <img src="{{ url_for('static', filename='/images/dashboard_logo.png' )}}"/>
        </div>
        <h1 class="website-slogan" id="slogan">
            Save whatever you need
        </h1>
            {% for m in menu -%}
            <li>
                <a href="{{m.url}}"> {{m.name}} </a>
            </li>
            {% endfor -%}
    </ul>

    <div class="rightNav">
       <li><a href="login">Login</a></li>
        <li><a href="signup">Signup</a></li>
    </div>
</nav>

<section class="firstsection">
    <div class="box-main">
        <div class="firstHalf">
            <h1 class="text-big" id="notes">
                NOTES
            </h1>

            <p class="text-small">
                An example of text describing notes. An example of text describing notes.
                An example of text describing notes. An example of text describing notes.
                An example of text describing notes. An example of text describing notes.
                An example of text describing notes. An example of text describing notes.
                An example of text describing notes. An example of text describing notes.
                An example of text describing notes. An example of text describing notes.
                An example of text describing notes. An example of text describing notes.
                An example of text describing notes. An example of text describing notes.
                An example of text describing notes. An example of text describing notes.
                An example of text describing notes. An example of text describing notes.
            </p>


        </div>
    </div>
</section>

<section class="secondsection">
    <div class="box-main">
        <div class="secondHalf">
            <h1 class="text-big" id="todo">
                TODO
            </h1>
            <p class="text-small">
                An example of text describing todo. An example of text describing todo.
                An example of text describing todo. An example of text describing todo.
                An example of text describing todo. An example of text describing todo.
                An example of text describing todo. An example of text describing todo.
                An example of text describing todo. An example of text describing todo.
                An example of text describing todo. An example of text describing todo.
                An example of text describing todo. An example of text describing todo.
                An example of text describing todo. An example of text describing todo.
                An example of text describing todo. An example of text describing todo.
                An example of text describing todo. An example of text describing todo.
            </p>


        </div>
    </div>
</section>

<section class="section">
    <div class="box-main">
        <div class="secondHalf">
            <h1 class="sectionTag text-big" id="urls">
                URL'S
            </h1>

            <p class="sectionSubTag text-small">
                An example of text describing url. An example of text describing url.
                An example of text describing url. An example of text describing url.
                An example of text describing url. An example of text describing url.
                An example of text describing url. An example of text describing url.
                An example of text describing url. An example of text describing url.
                An example of text describing url. An example of text describing url.
                An example of text describing url. An example of text describing url.
                An example of text describing url. An example of text describing url.
                An example of text describing url. An example of text describing url.
                An example of text describing url. An example of text describing url.
            </p>

        </div>
    </div>
</section>

<footer class="background">
    <p class="text-footer">
        h1ddenLuL verni 1136RUB
    </p>


</footer>
</body>

</html>
